@import "../../../../styles/colors.module.scss";
.ctaSection {
  background-color: $blackGray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  gap: 30px;
}
.imgCta {
  width: 45px;
}

.txtHeader {
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.imgLogoNav {
  width: 180px;
}

.navBtn {
  margin: 0px 5px;
  border-color: transparent;
  color: white;
  font-weight: bold;
  &:hover {
    border-color: $lightPrimaryColor;
    background-color: transparent;
  }
}
@media (max-width: 451px) {
  .nav {
    justify-content: center;
  }
  .navBtn {
    margin: 16px 10px;
    border-color: white;
    font-size: 14px;
  }
  .ctaSection {
    gap: 10px;
  }
}

@media (max-width: 335px) {
  .ctaSection {
    text-align: center;
  }
  .imgCta {
    margin: 0 8px;
  }
}
