@import "../../../../styles/colors.module.scss";

.imgLogoNav {
  width: 160px;
  cursor: pointer;
}

.searchImg {
  width: 26px;
  margin: 0px 10px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px;
}

.userProfile {
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  color: black;
  text-transform: uppercase;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px 14px;

  cursor: pointer;
}

.input {
  background-color: transparent;
  color: white;
  border-color: $lightGray;
  &:focus {
    background-color: transparent;
    color: white;
    border-color: $mediumGray;
    box-shadow: none;
  }

  &::placeholder {
    color: white;
  }
}

.modal {
  position: absolute;
  width: 150px;
  height: 80px;
  top: 85px;
  right: 10%;
  background-color: #303030;
  border-radius: 5px;
  outline: none;

  box-shadow: 8px 6px 4px #0000007c;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 24px;
}

.overlayerModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.modalLink {
  color: white;
  margin: 5px 0px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  transition: 0.4s;
  &:hover {
    color: $lightPrimaryColor;
  }
}

@media (max-width: 512px) {
  .nav {
    justify-content: center;
    gap: 20px;
  }
  .modal {
    top: 140px;
  }
}
