@import "./colors.module.scss";

// --- PÁGINA (Layout Geral) ---
.main {
  background-color: $blackGray; // Fundo da página
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  color: $lightPrimaryColor; // Título Rosa
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: -1px;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.subtitle {
  color: rgba($mediumGray, 0.9);
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.configBtn {
  background-color: transparent !important; // Fundo transparente
  border: 1px solid $lightPrimaryColor !important; // Borda Rosa
  color: $lightPrimaryColor !important; // Texto Rosa

  font-weight: 600 !important;
  border-radius: 50px !important; // Bem arredondado (estilo pílula)
  padding: 8px 20px !important;
  transition: all 0.3s ease !important;
  display: flex;
  align-items: center;
  gap: 8px; // Espaço entre o ícone e o texto

  // Efeito ao passar o mouse
  &:hover {
    background-color: $lightPrimaryColor !important;
    color: white !important;
    transform: translateY(-2px); // Sobe um pouquinho
    box-shadow: 0 4px 10px rgba($lightPrimaryColor, 0.3);
  }

  // Efeito ao clicar
  &:active {
    transform: translateY(0);
  }
}
