@import "./colors.module.scss";

// --- PÁGINA (Layout Geral) ---
.main {
  background-color: $blackGray; // Fundo da página
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  color: $lightPrimaryColor; // Título Rosa
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: -1px;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.subtitle {
  color: rgba($mediumGray, 0.9);
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
}
