@import "./colors.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif; // Ou a fonte que estiver usando
  background-color: $backgroundBlack; // AGORA É BRANCO
  color: $darkGray; // AGORA É CINZA ESCURO (Texto Padrão)
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Sobrescreve classes do Bootstrap que podem estar forçando cor branca
.text-white {
  color: $darkGray !important; // Inverte para escuro em fundo claro
}

.bg-black {
  background-color: $backgroundBlack !important; // Inverte para branco
}
